.second{
    

    .containerSvg2{
        
        position: relative;
        width: 100%;
        height: 100%;
        display: block;


        p{                       
            
            /* Text_Lead_320 */
            font-family: Avenir Next Cyr;
            font-style: normal;
            font-weight: normal;
            // font-size: 16px;
            // line-height: 24px;
            /* or 150% */
            font-size: 5vw;
            line-height: 7.5vw;
            /* or 150% */
            letter-spacing: 0.713846px;

            color: #536477;
            padding: 0 8.13125vw 0 6.99688vw;
            // margin: 0 26.02px 0 22.39px;
        }
        
        svg.therdSvg{
            display: none;
        }
    }
   
}
@media (min-width: 768px) { 
    .second{
        overflow: hidden;
    
        .containerSvg2{
            
            position: relative;
            width: 100%;
            height: 100%;
            display: block;
    
    
            p{ 
                width: 100%;
                padding: 0 9.156vw 0 9.229vw;
                margin: 0;
                // padding: 0 70.32px 0 70.88px;
                /* Text_Lead_960 */
                font-family: Avenir Next Cyr;
                font-style: normal;
                font-weight: normal;
                font-size: 3.125vw;
                line-height: 5.208vw;
                // font-size: 24px;
                // line-height: 40px;
                /* or 167% */
                letter-spacing: 0.713846px;
            }
            svg.secondSvg{
                display: none;
            }
            
        }
    }
}

@media (min-width: 1440px) {
    .second{
        overflow-y: hidden;
        overflow: visible;
    
        .containerSvg2{
            
            position: relative;
            width: 100%;
            height: 100%;
            display: block;
    
    
            p{ 
                width: 100%;
                margin: 0;
                // padding: 0 221.97px 0 264px;
                padding: 0 15.41458vw 0 18.33333vw;
                /* Text Lead */
                font-family: Avenir Next Cyr;
                font-style: normal;
                font-weight: normal;
                font-size: 2.22222vw;
                line-height: 3.33333vw;
                // font-size: 32px;
                // line-height: 48px;
                /* or 150% */
                letter-spacing: 0.713846px;
            }
            svg.secondSvg{
                display: none;
            }
            svg.therdSvg{
                display: block;
                position: absolute;
                top: -11.11111vw;
                width: 24.12569vw;
                // top: -160px;
                // width: 347.41px;
            }
        }
    }
}